@model Todo_DataAccess.Todo[]

@foreach (var item in Model)
{
    string completed_class = (item.Task_Complete == true) ? "completed" : "";
    
    <li class="@completed_class" data-todo-id="@item.ID" title="Created On: @item.Timestamp.Value.ToShortDateString()">
	    <div class="view">
		@using (Html.BeginForm("MarkComplete", "Todo", new { id = item.ID }, FormMethod.Post, new { @id = "form_MarkComplete" }))
        {
            <input class="toggle" type="checkbox" @if (item.Task_Complete == true) {<text>checked</text>} />
        }
		    <label>@item.Task_Description</label>
            @using (Html.BeginForm("Delete", "Todo", new { id = item.ID }, FormMethod.Post, new { @id = "form_Delete" }))
            {
                <button class="destroy"></button>   
            }
	    </div>
	    <input class="edit" value="@item.Task_Description">
    </li>
}